*{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: #2b2929;
    height: 100hv;
    justify-content: center;
    align-items: center;
}
.menu .bar {
    
    background: linear-gradient(45deg, #000000, #ca1e9f);
    display: inline-block;
    padding: 5px 10px;
    color: white;
    border-radius: 10px;
    font-family: 'Times New Roman', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.616);
    transition: all 0.3s ease;
  }
  .menu .bar:hover {
    background: linear-gradient( #f74600, #f30101);
    transform: scale(1.1);
  }
  .menu  .bar::before {
    content: '★';
    margin-right: 10px;
    gap: 10px;
  }
.nav {
    display: flex;
    align-items: center;
    height: 5vh;
    justify-content: space-between;
    background: #f7d203dc;
    padding: 6px 10px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    font-family: 'Times New Roman', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.616);
   
} .nav span {
    font-size: 1.5rem;
}             
.menuD {
    height: 50px;
    width: 50px;
    border: 2px solid rgb(158, 16, 194);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: 300ms ease-in-out;
    cursor: pointer;
}
.menuD:hover{
    background-color: rgb(49, 47, 47);
}
.menuD .bar{
    height: 3px;
    width: 40px;
    border: 2px solid rgb(158, 16, 194);
    background-color: rgb(158, 16, 194);;
    border-radius: 5px;
    transition: 200ms ease-in-out;
}
.menuD.active .bar:nth-last-child(1){
    transform: translateY(-15px) rotate(-45deg);
}
.menuD.active .bar:nth-last-child(2){
    opacity: 0;
}
.menuD.active .bar:nth-last-child(3){
    transform: translateY(15px) rotate(45deg);
}
.menu_despegable{
    height: 60vh;
    width: 33vw;
    background-color: #000000;
    display: grid;
    place-items: center;
    transform: translateX(100vw);
    transition: 300ms ease-in-out;
}
.click{
    transform: translateX(67vw);
}
.nav_link{
    width: 33vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
}
.link{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    width: 100%;
    text-align: center;
}
.link:hover{
    background: linear-gradient(45deg, #000000, #ca1e9f);
    cursor: pointer;
    color: white;
}