<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="stylesheet" href="Styles/style.css">
</head>
<body>
    
    <nav class="menu_nav">
        <div class="nav">
            <span>JefJim
            </span>
                <div class="menu">
                    <button class="bar">Nothing</button>
                    <button class="bar">Nothing</button>
                    <button class="bar" onclick="location.href='../Tabs/tabs.html';">About Me</button>
                    <button class="bar" onclick="location.href='../RPS/rps.html';">RPS</button>
                </div>
                <div class="menuD">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
        </div>
    </nav>
    <div class="menu_despegable">
        <ul class="nav_link">
            <li class="link">Inicio</li>
            <li class="link">Servicios</li>
            <li class="link">Productos</li>
            <li class="link" onclick="location.href='../Tabs/tabs.html';">About Me</li>
        </ul>
    </div>
    <script src="menu.js"></script> 
</body>
</html>