<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="stylesheet" href="Styles/style.css">
</head>
<body>
    
    <nav class="menu_nav">
        <div class="nav">
            <span>LOGO</span>
                <div class="menu">
                    <span class="bar">Inicio</span>
                    <span class="bar">Fotos</span>
                    <span class="bar">3</span>
                    <span class="bar">4</span>
                </div>
                <div class="menuD">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
        </div>
    </nav>
    <div class="menu_despegable">
        <ul class="nav_link">
            <li class="link">Inicio</li>
            <li class="link">Servicios</li>
            <li class="link">Productos</li>
            <li class="link">Nosotros</li>
        </ul>
    </div>
    <script src="menu.js"></script> 
</body>
</html>