<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabs</title>

    <link rel="stylesheet" href="Styles/style.css"/>
    <link rel="stylesheet" href="Styles/tabsStyle.css"/>
</head>

<body>
    <section>
        <div class="title">
            <h2>About</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum cumque cupiditate cum aperiam vitae in
                velit deserunt, totam iste! Esse nemo
                assumenda veritatis ipsam nesciunt delectus cumque accusamus dicta tempora.</p>
        </div>
        <div class="about-center section-center"></div>
        <article>
            <img src="../images/test1.jpg" alt="about-picture">
        </article>
        <article class="about">
            <div class="btn-container">
                <button class="tab-btn" data-id="history">History</button>
                <button class="tab-btn" data-id="me">About Me</button>
                <button class="tab-btn" data-id="vision">Vision</button>
            </div>
        </article>
    </section>
    <script src="tabs.js"></script>
</body>

</html>